@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot');
	src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #78464b;
    overflow-x: hidden;
    font-size:20px;
}
.margen{
    position: absolute;
    background:#9c4948;
    width: 100%;
    height:8%;
}
#margen_top{
    top:0%;
}
#margen_bot{
    bottom:0%;
}
.next {
	color: #d47868;
	text-decoration: none;
}
.next:hover{
	color: #78464b;
	text-decoration: none;
}
.prev{
	color: #d47868;
	text-decoration: none;
}
.prev:hover{
	color: #78464b;
	text-decoration: none;
}
.home{
	color: #d47868;
	text-decoration: none;
}
.home:hover{
	color: #78464b;
	text-decoration: none;
}
.icon{
	padding:20% 0 0 0;
	display: block;
	-webkit-transition: -webkit-transform 0.2s;
	transition: -moz-transform 0.2s;
	transition: transform 0.2s;
}
button{
    background: #fff;
    border:0px solid;
    color: #d47868;
}
button:hover{
    background: #fff;
    border:0px solid;
    color:darkseagreen;
}
.icon:before {
	font-family: 'icomoon';
	font-size: 5em;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.next:before {
	content: "\e90a";
}
.prev:before {
	content: "\e909";
}
.home:before {
	content: "\f015";
}
.checked:before {
	content: "\f00c";
}
.div-login{
    position:absolute;
    top:10%;
    left:200%;
    padding:5%;
    padding-left:5%; 
    padding-right:4%;
    width:100%;
    height:70%;
}
.div-login input{
    margin-bottom:5vmin;
}