@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot');
	src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: white;
    background: #e0bf96;
}
#big_button{
    background-color:#78464b;
    color:white;
    text-align: center;
}

#take-picture{
    position: absolute;
    top:-10000px;
    
}
#barra{
    position: absolute;
    font-size:4vmin;
    width:100%;
    background-color:#78464b;
    text-align: center;
    bottom: 0;
    
}
#big_button:hover{
    cursor: pointer;    
}
.icon{
	display: block;
	-webkit-transition: -webkit-transform 0.2s;
	transition: -moz-transform 0.2s;
	transition: transform 0.2s;
}

.icon:before {
	font-family: 'icomoon';
	font-size:30vmin;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.photo:before {
	content: "\e90b";
}
#canvas_qr{
 width:100%;
height:80vmax;
  border:solid black 1px;
}